{{ $color := resources.Get "css/color.css" | fingerprint }}
{{ $typo := resources.Get "css/typo.css" | fingerprint }}
{{ $space := resources.Get "css/space.css" | fingerprint }}
{{ $gallery := resources.Get "css/gallery.css" | fingerprint }}
{{ $simplelightbox := resources.Get "css/simplelightbox/simple-lightbox.css" | fingerprint }}
{{ $main := resources.Get "css/main.css" | fingerprint }}
{{ $styles := slice $color $typo $space $gallery $simplelightbox $main | resources.Concat "styles.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}"></link>
